" Base
source ~/.config/nvim/base.vim

" Plugins
source ~/.config/nvim/plugins.vim

" Keybinding
source ~/.config/nvim/keybindings.vim

{{- if eq .chezmoi.hostname "hdsk01" }}
" Coc
source ~/.config/nvim/coc.vim
{{- end }}
